body {
    background: #f7f7f7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}

a{
    text-decoration: solid;
    color: #505050;
}

.site-photo{
    border: 1px solid #505050;
    border-radius: 50px;
    width: 100px; height: auto;
}

#title, .subtitle, .post-title {
    color: #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

.subtitle{
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post-title{
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post{
    background: white;    
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-image{
    margin-bottom: 15px;
    width: 100%;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.footer-menu{
    list-style-type: none;
    padding-left: 15px;
}

